<%- include('templates/header-us-panel'); -%>
<!-- <link rel="stylesheet" href="/styles-login.css"> -->
</head>
<%- include('templates/main-menu'); -%>
<main class="container mt-5 vh-95 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column flex-md-row gap-3 w-100 gap-3 mb-5 w-100 main-cont justify-content-center align-items-center">
        <div class="card col-12 col-md-4 col-lg-4 p-4 shadow-sm bg-light rounded">
            <h2 class="text-center mb-4">Iniciar Sesión</h2>
            <form id="loginForm">
                <div class="mb-3">
                    <label for="log-email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="log-email" aria-describedby="emailHelp" name="email" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="log-password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="log-password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
        <div class="card col-12 col-md-4 col-lg-4 p-4 shadow-sm bg-light rounded">
            <h2 class="text-center mb-4">Registrarse</h2>
            <form id="registerForm">
                <div class="mb-3">
                    <label for="reg-id" class="form-label">Id:</label>
                    <input type="number" class="form-control" id="reg-id" name="id" required>
                </div>
                <div class="mb-3">
                    <label for="reg-name" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="reg-name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="reg-email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="reg-email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="reg-password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="reg-password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="reg-ver-password" class="form-label">Verificar password:</label>
                    <input type="password" class="form-control" id="reg-ver-password" name="vpassword" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Registrar</button>
            </form>
        </div>
    </div>
  </main>
<!-- Mensaje de éxito -->
<div id="success-message" class="alert alert-success alert-dismissible fade" role="alert" style="display: none; position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
  <strong></strong>
  <div class="alert-message">
  </div>
  <button type="button" class="btn-close" aria-label="Close" onclick="hideMessage('success-message')"></button>
</div>

<!-- Mensaje de error -->
<div id="error-message" class="alert alert-danger alert-dismissible fade" role="alert" style="display: none; position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
  <strong></strong>
  <div class="alert-message">
  </div>
  <button type="button" class="btn-close" aria-label="Close" onclick="hideMessage('error-message')"></button>
</div>
<%- include('templates/footer'); -%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script type="module" src="/scripts/login.js"></script>
</body>
</html>
