/* Variables globales */
:root {
    --base-font-size: 62.5%;  /* 1rem = 10px */
    --font-size-base: 1.6rem;  /* 16px */
    --font-family: Arial, sans-serif;
    --bg-color-header: #333;
    --text-color-header: #fff;
    --bg-color-nav: #444;
    --text-color-nav: #fff;
    --padding-nav: 1rem;
    --border-radius: 0.5rem;
    --bg-color-odd-li: #e0e0e0; /* Color de fondo para los elementos impares */
}

/* Estilos generales */
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: 1.6;
    background-color: #f0f0f0;
    padding-top: 50px; /* Ajuste para el header fijo */
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color-header);
    color: var(--text-color-header);
    text-align: center;
    padding: var(--padding-nav) 0;
    z-index: 1000; /* Asegura que esté por encima del contenido */
}

header h1 {
    font-size: 2rem; /* 20px */
    margin: 0;
}

nav {
    background-color: var(--bg-color-nav);
    margin-top: 2.5rem;
    padding: var(--padding-nav);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu {
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 1rem;
}

.menu li a {
    text-decoration: none;
    color: var(--text-color-nav);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 1400px) {
    .menu {
        font-size: 1.6rem;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    main {
        
        margin: 1rem auto;
        display: flex;
        gap: 2rem;
        width: 80%;
        align-items: center;
        justify-content: center;

    }
    .content {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 2rem;
        margin: 0.5rem;
        border-radius: var(--border-radius);
        min-height: 50rem;
        max-width: 50rem;
    }
}

main {
    margin: 1rem auto;
    width: 90%;
}

.content {
    background-color: #fff;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: var(--border-radius);
    height: auto;
}

.content h2 {
    font-size: 2rem; /* 20px */
    margin-bottom: 1rem;
}

.content p {
    font-size: 1.6rem; /* 16px */
    color: #555;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: var(--bg-color-header);
    color: var(--text-color-header);
}

footer p {
    margin: 0;
}

/* Estilos para formularios de gestión de libros y usuarios */
.option form {
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.content-list {
    background-color: #fff;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.content-list ul {
    list-style-type: none;
    padding: 0; /* Eliminar el padding predeterminado de ul */
}

.content-list li {
    padding: 0.5rem; /* Añadir 1rem de padding a cada caja de la lista */
    cursor: pointer; /* Cambiar el cursor a pointer al pasar el mouse */
}

/* Estilos para los elementos impares de .content-list */
.content-list li:nth-child(odd) {
    background-color: var(--bg-color-odd-li);
}

.option form label {
    display: block;
    font-size: 1.6rem; /* 16px */
    margin-bottom: 0.5rem;
}

input, .input-select {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.6rem; /* 16px */
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.option form input,
.option form select {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.6rem; /* 16px */
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.content form button {
    background-color: #4CAF50;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.6rem; /* 16px */
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option form button:hover {
    background-color: #45a049;
}
.book-details-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Posición relativa para posicionar los detalles relativos al elemento clickeado */
    z-index: 1; /* Asegura que esté por encima del contenido normal */
}

.book-item {
    cursor: pointer; /* Hace que el cursor sea un puntero al pasar sobre el elemento de lista */
    padding: 0.5rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-item:hover {
    background-color: #f5f5f5; /* Color de fondo más claro al pasar el ratón sobre el elemento */
}

/* Estilos para el título del libro dentro del contenedor de detalles */
.book-details-container h2 {
    font-size: 1.8rem; /* Tamaño del título del libro */
    margin-bottom: 0.5rem; /* Espaciado inferior del título */
}

/* Estilos para la lista de detalles dentro del contenedor */
.book-details-container ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
}

/* Estilos para los elementos de la lista de detalles */
.book-details-container li {
    font-size: 1.4rem; /* Tamaño del texto de los detalles */
    color: #333; /* Color del texto */
    margin-bottom: 0.5rem; /* Espaciado inferior entre elementos de lista */
}
/*user container*/
.user-details-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Posición relativa para posicionar los detalles relativos al elemento clickeado */
    z-index: 1; /* Asegura que esté por encima del contenido normal */
}

.user-item {
    cursor: pointer; /* Hace que el cursor sea un puntero al pasar sobre el elemento de lista */
    padding: 0.5rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
     /* Transición suave para el cambio de color de fondo */
}

.user-item:hover {
    background-color: #f5f5f5; /* Color de fondo más claro al pasar el ratón sobre el elemento */
}

/* Estilos para el título del libro dentro del contenedor de detalles */
.user-details-container h2 {
    font-size: 1.8rem; /* Tamaño del título del libro */
    margin-bottom: 0.5rem; /* Espaciado inferior del título */
}

/* Estilos para la lista de detalles dentro del contenedor */
.user-details-container ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;    
}

/* Estilos para los elementos de la lista de detalles */
.user-details-container li {
    font-size: 1.4rem; /* Tamaño del texto de los detalles */
    color: #333; /* Color del texto */
    margin-bottom: 0.5rem; /* Espaciado inferior entre elementos de lista */
}
/*Estilos delete*/
.details-item {
    cursor: pointer; 
    padding: 0.5rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.center{
    align-items: center;
    justify-content: center;
}